/* Add this CSS in App.css */
.dotted-background {
  position: relative;
  overflow: hidden;
}

.dotted-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, black 1.8px, transparent 1.8px);
  background-size: 12px 24px;
  background-position: calc(50% - 6px) calc(50% - 12px);
  pointer-events: none;
}

.react-datepicker__day--excluded {
  color: red !important;
  background-color: rgb(255, 207, 207) !important;
  font-weight: bold !important;
  border-radius: 4px;
}

.react-datepicker__day:not(.react-datepicker__day--disabled):not(.react-datepicker__day--selected) {
  color: #333 !important;
  background-color: #eee !important;
  font-weight: bold !important;
  border-radius: 4px;
}