@font-face {
  font-family: 'Phase';
  src: url('./assets/Phase-FGX_16-33-11.ttf') format('truetype-variations');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('./assets/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Jetbrains Mono', monospace;
}

summary {
  @apply cursor-pointer font-bold mb-3;
}

details {
  @apply pb-3;
}

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Create a custom checkbox appearance */
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input[type="radio"] + .checkbox-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background-color: white;
}

/* Change the appearance of the custom checkbox when checked */
.custom-checkbox input[type="radio"]:checked + .checkbox-label::before {
  background-color: black;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\2713'; /* Unicode checkmark */
  color: white;
}

.checkbox-label {
  font-size: 1rem;
}

.react-datepicker {
  border-radius: 0 !important;
}

.react-datepicker__day {
  border-radius: 0 !important;
}

.react-datepicker__day--excluded {
  position: relative;
}
.react-datepicker__day--excluded:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '—';
  font-size: 0.75em;

}

.react-datepicker__day:not(.react-datepicker__day--disabled):not(.react-datepicker__day--selected) {
  font-weight: bold ;
}

.loading-dots {
  display: block;
  width: 10px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #fff 90%, #0000) 0/calc(100%/3) 100% space; /* Adjust size */
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}