@font-face {
  font-family: 'Phase';
  src: url('./assets/Phase-FGX_16-33-11.ttf') format('truetype-variations');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('./assets/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Jetbrains Mono', monospace;
}

summary {
  @apply cursor-pointer font-bold mb-3;
}

details {
  @apply pb-3;
}

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Create a custom checkbox appearance */
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input[type="radio"] + .checkbox-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid black;
  /* border-radius: 3px; */
  background-color: white;
}

/* Change the appearance of the custom checkbox when checked */
.custom-checkbox input[type="radio"]:checked + .checkbox-label::before {
  background-color: black;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\2713'; /* Unicode checkmark */
  color: white;
}

.checkbox-label {
  font-size: 1rem;
}

.react-datepicker {
  border-radius: 0 !important;
}

.react-datepicker__day {
  border-radius: 0 !important;
}

.react-datepicker__day--excluded {
  position: relative;
  /* color: red !important; */
  /* background-color: rgb(255, 207, 207) !important; */
  /* font-weight: bold !important; */
  /* border-radius: 4px; */
}
.react-datepicker__day--excluded:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23aaa' stroke-width='1' %3E%3Cline x1='18' y1='6' x2='6' y2='18' /%3E%3Cline x1='6' y1='6' x2='18' y2='18' /%3E%3C/svg%3E");
  /* color: #a3a3a3; */
  color: red;
  font-size: 0.75em;
  /* padding: 0.25em; */
  /* border-radius: 50%; */
  /* transform: translate(50%, -50%); */

}

.react-datepicker__day:not(.react-datepicker__day--disabled):not(.react-datepicker__day--selected) {
  /* color:  ; */
  /* background-color: #eee ; */
  font-weight: bold ;
  /* border-radius: 4px; */
}